

<style> 
li a{
  color:black;
}
.card-content #aphead:hover{
color: 9ed6ff;
}
.col.s4.lowerbox {
    width: 100%;
}

</style>
{% extends 'questions/base.html' %}
{% load staticfiles %}
{% block content %} 
<div id ="header">
<h4>Contact Us: 9953071448</h4>
</div>
<div id="yo" >
  <h2 class="center-align top_heading">APARNA ENTERPRISES</h2>
</div>
        


<ul id="dropdown1" class="dropdown-content">
<li><a href={% url 'new' %}>New Arrival</a></li>
  <li class="divider"></li>
 <li><a href={% url 'popper' %}>Poppers</a></li>
  <li class="divider"></li>
<li><a href={% url 'balloon' %}>Balloon</a></li>
 <li class="divider"></li>
<li><a href={% url 'cap' %}>Caps</a></li>
 <li class="divider"></li>
<li><a href={% url 'knife_caketag' %}>Knife & Cake Tags</a></li>
 <li class="divider"></li>
<li><a href={% url 'prop_decoration' %}>Props & Decoration</a></li>
 <li class="divider"></li>
<li><a href={% url 'crown' %}>Crowns</a></li>
 <li class="divider"></li>
<li><a href={% url 'candle' %}>Candle</a></li>
  <li class="divider"></li>
</ul>

<nav>
  <div class="nav-wrapper">
  <a href="#!" class="brand-logo"></a>
   
      <ul class="right hide-on-med-and-down" > 
   
    
      <li><a href="{% url 'firstpage' %}">Home</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Products<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="{% url 'contact' %}">Contact Us</a></li>
       <li><a href="{% url 'about' %}">About Us</a></li>
    </ul>
     <a href="#!" data-activates="mobile-demo" class="button-collapse"><i id = "menubutton" class="material-icons">menu</i></a>
         <ul class="side-nav" id="mobile-demo">
       
        
           <li><a href="{% url 'firstpage' %}">Home</a></li>
          <li class="divider"></li>
         <li><a href={% url 'contact' %}>Contact Us</a></li>
          <li class="divider"></li>
       <li><a href={% url 'about' %}>About Us</a></li>
        <li class="divider"></li> <!-- Dropdown Trigger -->
      <li><a href={% url 'new' %}>New Arrival</a></li>
  <li class="divider"></li>
 <li><a href={% url 'popper' %}>Poppers</a></li>
  <li class="divider"></li>
<li><a href={% url 'balloon' %}>Balloon</a></li>
 <li class="divider"></li>
<li><a href={% url 'cap' %}>Caps</a></li>
 <li class="divider"></li>
<li><a href={% url 'knife_caketag' %}>Knife & Cake Tags</a></li>
 <li class="divider"></li>
<li><a href={% url 'prop_decoration' %}>Props & Decoration</a></li>
 <li class="divider"></li>
<li><a href={% url 'crown' %}>Crowns</a></li>
 <li class="divider"></li>
<li><a href={% url 'candle' %}>Candle</a></li>
  <li class="divider"></li>
  
      
    </ul>
  </div>
</nav>

 <div class="card small">
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="{% static "questions/yo.png" %}" height="200" width="1200"alt="My image"/ align="middle">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4" id ="aphead">Aparana Enterprises<i class="material-icons right">more_vert</i></span>
      
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">	ABOUT US<i class="material-icons right">close</i></span>
    <p>Customer satisfaction is our prime goal and we do this by providing you with unique products you can’t find anywhere else at least possible prices, with services like no one else and moreover, the support to help you decide what you need, and how you can put it all together for a successful event.</p>
<p>
We deal in all kinds of birthday props, balloons, candles, party poppers, eye masks, snow sprays, material for decorations, banners, placards, caps, crowns, party knives and cake tags, all at wholesale prices.</p>
<p>
We supply to bakeries and party organizers as well</p>
<p>
Our company provides one-day onsite delivery. Minimum order of Rs. 5000/-</p>
<p>
You can call to place the order.</p>
    </div>
  </div>
  </div>
 <section id = "connector">
<div class="row">

      <div class="col s4 lowerbox">
    
      

       

      <div class="col s4" id = info><h5>Info</h5>
      <ul>
  <li><a href="{% url 'firstpage' %}">Home</a></li>
<li><a href="{% url 'about' %}">Contact Us</a></li>
       <li><a href="{% url 'about' %}">About Us</a></li>
</ul></div>
      <div  class="col s4 "><h5>Products</h5>
      <ul id="shorts">
<li><a href={% url 'new' %}>New Arrival</a></li>
 <li><a href={% url 'popper' %}>Poppers</a></li>
 <li><a href={% url 'balloon' %}>Balloon</a></li>
<li><a href={% url 'cap' %}>Caps</a></li>
 <li><a href={% url 'knife_caketag' %}>Knife & Cake Tags</a></li>
<li><a href={% url 'prop_decoration' %}>Props & Decoration</a></li>
<li><a href={% url 'crown' %}>Crowns</a></li>
<li><a href={% url 'candle' %}>Candle</a></li>
</ul></div>
      <div class="col s4"><h5>Store Information</h5>
      <ul>
      <li>9953071448</li>
      <li>aparnaenterprises2016@gmail.com</li>
      </ul>

    <h6> © 2016 APARANA ENTERPRISES. All Rights Reserved </h6>
    <p>DEVELOPERS CONTACT INFO:9650783868
      </p>
       
      </div>
   </div>

   
</section>


{% endblock %}
<script >
  $(".button-collapse").sideNav();
  $('.collapsible').collapsible();

  
 </script>
 <script>
   $(document).ready(function(){
      $('.slider').slider({full_width:false});
    });

        
 </script>
 <script >
    $(".button-collapse").sideNav();
 </script>
            
