{% load staticfiles %}
<html>
    <head>
        <title> {% block page_title %} Questions {% endblock %} </title>
        
       
        <link href="{% static 'questions/css/mystyle.css' %}" rel="stylesheet">
        <link href="{% static 'questions/css/materialize.css' %}" rel="stylesheet">
        {% include 'material/includes/material_css.html' %}
        {% block extrahead %} {% endblock %}
         <style>
        </style>
    </head>
    <body>
    <style type="text/css">
        .container{
  margin: 0;
  width:100%;
}
#menubutton:hover{
  color: 20669C;
}
.col.s4.lowerbox {
    width: 100%;
}


    </style>
        <main class="container">
            {% block content %} {% endblock %}
        </main>

        <script src="{% static 'common/js/jquery-3.1.0.js' %}"></script>
      
        {% include 'material/includes/material_js.html' %}
        {% block scripts %} {% endblock %}


       
    <script >
  $(".button-collapse").sideNav();
  $('.collapsible').collapsible();

  
 </script>
 <script>
     $(document).ready(function(){
      $('.slider').slider({full_width:false});
    });

        
 </script>
 <script >
    $(".button-collapse").sideNav();
 </script>
    </body>
</html>