<style>
li a{
  color:black;
}
*{
    padding: 0;
    margin: 0;
}
img.image:hover { 
  transform: scale(1.2); }
body{
  background-color: #bbbbbb;
}
#header{
    background-color: #ee6e73;
    text-align: right;
}

ul {
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: initial;
}


main.container {
   
    border: 1px;
  
    width: 100%;
}

.box {
    padding: 13px;
}
.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
    background-color: F2F2F2;
}

#container{
  max-width: 900px;
  margin: auto;
}
#products li{

  background-color: #e4e4e4;
  text-align: center;
}

#store-info{
  text-align: right;
  list-style: none;
}
#store-info li{
  text-align: right;
}
#products-info{
  text-align: center;
  list-style: none;
}
#products-info li{
  text-align: center;
  
}
#info{
  list-style: none;
  text-align: left;
}
#products li {
    background-color: #e4e4e4;
    text-align: center;
    padding-top: 6px;
}
li#title {
    font-weight: bold;
    color: 2878B0;
}
</style>
{% extends 'questions/base.html' %}
 {% load staticfiles%} 

{% block title %} All  {% endblock %}
{% block content %} 

<div id ="header">
<h4>Contact Us : 9953071448</h4>
</div>
<div id="yo" >
  <h2 class="center-align top_heading">APARNA ENTERPRISES</h2>
</div>
        

<ul id="dropdown1" class="dropdown-content">
<li><a href={% url 'new' %}>New Arrival</a></li>
  <li class="divider"></li>
 <li><a href={% url 'popper' %}>Poppers</a></li>
  <li class="divider"></li>
<li><a href={% url 'balloon' %}>Balloon</a></li>
 <li class="divider"></li>
<li><a href={% url 'cap' %}>Caps</a></li>
 <li class="divider"></li>
<li><a href={% url 'knife_caketag' %}>Knife & Cake Tags</a></li>
 <li class="divider"></li>
<li><a href={% url 'prop_decoration' %}>Props & Decoration</a></li>
 <li class="divider"></li>
<li><a href={% url 'crown' %}>Crowns</a></li>
 <li class="divider"></li>
<li><a href={% url 'candle' %}>Candle</a></li>
  <li class="divider"></li>
</ul>

<nav>
  <div class="nav-wrapper">
  <a href="#!" class="brand-logo"></a>
   
      <ul class="right hide-on-med-and-down" > 
   
    
      <li><a href="{% url 'firstpage' %}">Home</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Products<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href={% url 'contact' %}>Contact Us</a></li>
       <li><a href={% url 'about' %}>About Us</a></li>
    </ul>
     <a href="#!" data-activates="mobile-demo" class="button-collapse"><i id = "menubutton" class="material-icons">menu</i></a>
         <ol class="side-nav" id="mobile-demo">
       
           <li><a href="{% url 'firstpage' %}">Home</a></li>
          <li class="divider"></li>
         <li><a href={% url 'contact' %}>Contact Us</a></li>
          <li class="divider"></li>
       <li><a href={% url 'about' %}>About Us</a></li>
        <li class="divider"></li>    <!-- Dropdown Trigger -->
      <li><a href={% url 'new' %}>New Arrival</a></li>
  <li class="divider"></li>
 <li><a href={% url 'popper' %}>Poppers</a></li>
  <li class="divider"></li>
<li><a href={% url 'balloon' %}>Balloon</a></li>
 <li class="divider"></li>
<li><a href={% url 'cap' %}>Caps</a></li>
 <li class="divider"></li>
<li><a href={% url 'knife_caketag' %}>Knife & Cake Tags</a></li>
 <li class="divider"></li>
<li><a href={% url 'prop_decoration' %}>Props & Decoration</a></li>
 <li class="divider"></li>
<li><a href={% url 'crown' %}>Crowns</a></li>
 <li class="divider"></li>
<li><a href={% url 'candle' %}>Candle</a></li>
  <li class="divider"></li>  
      
  
      
    </ol>
  </div>
</nav>
<div id = "container">
<ul id = "products">
    {% for q in q_list %}
    <div class ="box">

     <li><img class = "image" src="{{ q.profile_pic.url }}" width="250px" height="320px"></li>
            <li id = "title">{{ q.title }}</li>
            <li><b>{{ q.rate }}</b></li>
            <li>{{ q.text }}</li>
    </div>

    {% endfor %}
</ul>
</div>
 <section id = "connector">
<div class="row">

      <div class="col s4 lowerbox">
    
     

      <div class="col s4 goku" ><h5>Info</h5>
     <ol>
  <li><a href="{% url 'firstpage' %}">Home</a></li>
<li><a href="{% url 'about' %}">Contact Us</a></li>
       <li><a href="{% url 'about' %}">About Us</a></li>
</ol></div>
      <div  class="col s4 "><h5>Products</h5>
      <ol id="shorts">
<li><a href={% url 'new' %}>New Arrival</a></li>
 <li><a href={% url 'popper' %}>Poppers</a></li>
 <li><a href={% url 'balloon' %}>Balloon</a></li>
<li><a href={% url 'cap' %}>Caps</a></li>
 <li><a href={% url 'knife_caketag' %}>Knife & Cake Tags</a></li>
<li><a href={% url 'prop_decoration' %}>Props & Decoration</a></li>
<li><a href={% url 'crown' %}>Crowns</a></li>
<li><a href={% url 'candle' %}>Candle</a></li>
</ol></div>
      <div class="col s4"><h5>Store Information</h5>
   
      <p>9953071448</p>
      <p>aparnaenterprises2016@gmail.com</p>

    

    <h6>© 2016 APARANA ENTERPRISES. All Rights Reserved </h6>
    <p>DEVELOPERS CONTACT INFO:9650783868
      </p>
       
      </div>
   </div>

   
</section>
{% endblock %}
<script >
  $(".button-collapse").sideNav();
  $('.collapsible').collapsible();

  
 </script>
 <script>
   $(document).ready(function(){
      $('.slider').slider({full_width:false});
    });

        
 </script>
 <script >
    $(".button-collapse").sideNav();
 </script>

